[submodule "Menu"]
	path = Menu
	url = https://github.com/oscar-wos/Menu.git
[submodule "CSSharpUtils"]
	path = CSSharpUtils
	url = https://github.com/oscar-wos/CSSharpUtils
[submodule "FixVectorLeak"]
	path = FixVectorLeak
	url = https://github.com/oscar-wos/FixVectorLeak
