name: Build

on: push

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                submodules: recursive

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: '8.0.x'

            - name: Restore dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build -c Release

            - name: Create Directories
              run: |
                mkdir -p plugin/plugins/${{ github.event.repository.name }}
                mkdir -p plugin/gamedata

            - name: Move Files
              run: |
                mv ./src/bin/Release/net8.0/* ./plugin/plugins/${{ github.event.repository.name }}
                mv ./gamedata/* ./plugin/gamedata

            - name: Zip
              run: |
                cd ./plugin
                zip -r ${{ github.event.repository.name }}-${{ github.sha }}.zip .

            - name: Publish
              uses: actions/upload-artifact@v4
              with:
                name: ${{ github.event.repository.name }}-${{ github.sha }}
                path: ./plugin